# Godot 4+ specific ignores
.godot/
*.tmp
*.mp3
*.pck
*.exe
*.wav
/maps/autosave
*.log

/textures
/audio
/blender
/textures/boxes
/textures/countertops
/textures/debug
/textures/doors
/textures/equipment
/textures/etc
/textures/floors
/textures/floors
/textures/lights
/textures/metal
/textures/objects
/textures/plastic
/textures/roofs
/textures/skin
/textures/stone
/textures/vents
/textures/walls
/textures/weapons
/textures/wood